body{
  margin:0;
  padding:0;
  font-family:Arial;
  background:#0f0f0f;
  color:white;
}

a{
  color:white;
  text-decoration:none;
}

h1,h2,h3,h4{
  margin-bottom:15px;
}

.checkout-box,
.admin-box,
#loginBox{
  width:350px;
  margin:50px auto;
  background:#1a1a1a;
  padding:25px;
  border-radius:15px;
}

input,
select{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:8px;
  background:#2a2a2a;
  color:white;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  background:white;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  opacity:0.8;
}

.card{
  width:250px;
  background:#1a1a1a;
  padding:15px;
  border-radius:15px;
  margin:15px;
  display:inline-block;
  vertical-align:top;
  text-align:center;
}

.card img{
  width:100%;
  border-radius:10px;
}

.order-card{
  background:#222;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
}

.order-card button{
  background:red;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
}

.dashboard{
  background:#111;
  padding:15px;
  border-radius:10px;
  margin-bottom:20px;
}

#cryptoInfo{
  background:#111;
  padding:15px;
  border-radius:10px;
  margin-top:20px;
}

#wallet{
  word-break:break-all;
}

#products{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:20px;
}
